body {
  box-sizing: border-box;
  background-color: rgb(218, 218, 101);
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px auto;
  padding: 2rem;
  background: url(./images/m_bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

label,
textarea {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

textarea {
  padding: 10px;
}

label {
  font-weight: 600;
}

.header_img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: auto;
}

button {
  display: block;
  width: 100%;
  border-radius: 20px;
  padding: 0.5rem 0.5rem;
  border: none;
  transition: all 0.3s;
  background-color: rgb(61, 60, 60);
  color: white;
}

button:hover {
  background-color: rgb(81, 134, 233);
  color: black;
}

@media only screen and (max-width: 600px) {
  .main-section {
    width: 70%;
  }
}
